<div class="panel panel-default devise-bs">
	<div class="panel-body">
		<h3><%= @user.first_name %>'s Profile!</h3>
		<p>Name: <%= @user.first_name %> <%= @user.last_name %></p>
		<p>Email: <%= @user.email %></p>
	</div>
</div>
