/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
 @import 'bootstrap-sprockets';
 @import 'bootstrap';
 @import 'devise_bootstrap_views';
 @import "material";
 
 // Font
 @import url('https://fonts.googleapis.com/css?family=Raleway');
 
 $raleway: 'Raleway', sans-serif;
 
 body {
     font-family: $raleway;
     font-size: 1.125rem;
 }
table {
    margin-top: 25px;
    border-collapse: separate;
    border-spacing: 25px 0;
}

th {
    padding: 10px 0;
}

.profile_pic {
    height: 250px;
    width: 250px;
    border-radius: 60%;
    -webkit-border-radius: 60%;
    -moz-border-radius: 60%;
    margin-top: 8px;
    margin-bottom: 24px;
}

.meetup_form {
    margin-top: 4%;
    margin-left: 25px;
}

.panel-default {
    margin-top: 20px;
}

.comment_field {
    // margin-left: 8px;
    width: 20%;
    // height: 50px;
}

input[type=file] {
    // margin: 0 auto;
}

.nav_line{
    float:right;
}

.nav_link {
    margin-right: 20px;
    font-size: 1.5rem;
}

.about_field{
    width: 100%;
    height: 80px;
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
}

.parent {
    text-align: center;
}

.container {
    width: 400px;
    display: inline-block;
    text-align: center;
}

.edit_profile{
    width: 500px;
    display: inline-block;
    text-align: left;
}

.edit_profile input{
    width: 100%;
    clear: both;
    margin-top: 4px;
    margin-bottom: 4px;
}

.submit{
    display: block;
    margin-left: auto;
    margin-right: 50%;
}

.photo {
    text-align: center; /*for centering images inside*/
}

.photo img {
    width: 300px; /*set the width or max-width*/
    height: auto; /*this makes sure to maintain the aspect ratio*/
}